body{
    margin: 2rem;
    background-color: rgb(74, 229, 250);
    background-image: url(imagenes/fondo.png);
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1 {
    margin: 2rem;
    padding: 1rem;
    background-color: rgb(146, 211, 117);
    border-width: 1rem;
    border-style: outset;
    border-color: rgb(113, 172, 85);
    color: aliceblue;
    font-weight: bolder;
    text-align: center;
    font-size: 4rem;
    text-shadow: 2px 2px black, 2px -2px black, -2px 2px black, -2px -2px black;
}
hr {
    height: 2px;
    background-color: aliceblue;
}
article {
    text-align: center;
}

.lugar {
    margin: 1rem auto;
    padding: 1rem;
    background-color: rgb(160, 55, 55);
    border-width: 5px;
    border-style: groove;
    border-color: rgb(240, 106, 106);
    max-width: fit-content;
    color: aliceblue;
    text-shadow: 2px 2px black,2px -2px black, -2px 2px black, -2px -2px black;
    font-size: 4rem;
    text-align: center;
    font-weight: bold;
}

#imagen {
    margin: 1rem;
    width: 30rem;
    border-width: 3px;
    border-color: rgb(231, 190, 190);
    border-style: double;
}

.lugar:hover {
    color: rgb(231, 231, 158);
    box-shadow: 0.0.0rem 1.5rem 0rem rgba(0, 0, 0, 1);
    background-color: rgb(182, 63, 63);
}

.footer{
    margin: 0 auto;
    color: aliceblue;
    font-weight: bold;
}

a:link{
    text-decoration: none;
    color: gold;
}
a:visited{
    text-decoration: none;
    color: gold;
}
a:hover{
    text-decoration: none;
    color: aliceblue;
}
a:active{
    text-decoration: none;
    color: aliceblue;
}